canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
body {
	overflow: hidden;
}
#edad {
    position: absolute;

    left: 50%;
    top: calc(50% + 28px);

    transform: translate(-50%, -50%);

    font-family: Verdana, sans-serif;
    font-size: 75px;
    font-weight: bold;

    background: linear-gradient(
        90deg,
        #8c63ff,
        #f060cf,
        #ff8b63,
        #f2e767,
        #73e66f,
        #66e4db
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    z-index: 10;

    pointer-events: none;
}
